.footer {
    margin-top: auto;
    transform: translateY(100%);
    width: 100%;
    padding-top: 10px;
    background-color: var(--color-lighter-gray);
    color: var(--color-gray);
    font-size: 12px;
    grid-area: footer;

}