.page__not_found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.page__not_found__title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--color-form-title);
  padding: 15px;
}

.page__not_found__text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--color-link-value);
  padding: 15px;
}