<div class="page-not-found">
    <div class="page-not-found__container">
        <img class="page-not-found__icon" src="../src/img/404_icon.svg">
        <div class="page-not-found__title">
            404
        </div>
        <div class="page-not-found__text">
            Запрашиваемая страница не найдена :(
        </div>
    </div>
</div>