.header__item__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid var(--color-button-background);
  outline-offset: -2px;
  border-radius: 8px;
  padding: 8px 15px;
  color: var(--color-button-background);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
}
