{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}
// {
//     "extends": [
//         "typescript",
//         "plugin:prettier/recommended"
//     ],
//     "plugins": [
//         "prettier"
//     ],
//     "rules": {
//         "no-// console": "error",
//         "prettier/prettier": "error",
//         "import/order": [
//             "error",
//             {
//                 "groups": [
//                     "builtin",
//                     "external",
//                     "internal"
//                 ],
//                 "pathGroups": [
//                     {
//                         "pattern": "TypeScript",
//                         "group": "external",
//                         "position": "before"
//                     }
//                 ],
//                 "pathGroupsExcludedImportTypes": [
//                     "typescript"
//                 ],
//                 "newlines-between": "always",
//                 "alphabetize": {
//                     "order": "asc",
//                     "caseInsensitive": true
//                 }
//             }
//         ]
//     }
// }