   .group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--color-form-background);
    border-radius: 10px;
    padding: 20px 25px;
  }

  .form__button--small {
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: var(--color-button-background);
    color: var(--color-button-value);
    font-weight: bolder;
    height: auto;
    width: min-content;
    margin-left: auto;
  }

  .form__button--small :hover {
    border: none;
    outline: none;
    box-shadow: 0 5px 5px 1px var(--color-light-gray);
  }

  .form__button--small :focus {
    outline: 2px solid var(--color-button-border-focus);
    outline-offset: -2px;
    box-shadow: 0 3px 5px 1px var(--color-lighter-gray);
  }

  .form__button--small :active {
    outline: none;
    border-style: none;
    background-color: var(--color-button-background-pressed);
  }