<div class="attachment" data-attachment_src="{{src}}">
    <img src="{{src}}" alt="" class="attachment__preview">
    <img src="../src/img/trash_white_icon.svg" alt="" class="attachment__remove" data-action="attachment__remove">
</div>