.attachment {
    position: relative;
    overflow: hidden;

    &__preview {
        object-fit: cover;
        height: 100px;
        width: 100px;
        border-radius: 35%;
        outline: 2px solid gray;
        outline-offset: -2px;
    }
    
    &__remove {
        z-index: 10;
        object-fit: cover;
        position: absolute;
        height: 16px;
        width: 16px;
        top: 4px;
        right: 4px;
        padding: 5px;
        border-radius: 25%;
        background-color: red;
        box-shadow: -5px 5px 10px 0px rgb(0 0 0 / 20%);
        cursor: pointer;
    }
    
    &__remove:hover {
        transform: scale(1.05);
    }

    &__remove:active {
        transform: scale(0.95);
    }
}
