<div class="communities">
    <div class="communities__navbar">

    </div>
    <div class="communities__list">

    </div>
    <div class="communities-mock">
        <img class="communities-mock__icon" src="../src/img/sad_icon.svg">
        <div class="communities-mock__text">Вы ещё не вступили ни в одно сообщество</div>
    </div>
    <div class="communities__overlay">

    </div>
</div>