.communities {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: min-content auto;
    gap: 10px;

    overflow: hidden;

    &__navbar {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        overflow-y: scroll;

        z-index: 1001;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;

        overflow-x: hidden;
        overflow-y: overlay;

        padding-bottom: var(--big-gap-beetween-blocks);

        @media screen and (max-device-width:799px) {
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-track {
            background-color: inherit;
        }

        &::-webkit-scrollbar-thumb {
            background-color: lightgray;
            border: 5px solid var(--color-feed-card-background);
            border-radius: 9999px;
        }
    }


    &--hide {
        display: none !important;
    }
}

.communities-mock {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    height: min-content;

    padding: 20px 25px;

    &__text {
        font-size: 18px;
        color: #b4b4b4;
        font-weight: bolder;
    }
}