<div class="communities">
    <div class="communities__navbar">

    </div>
    <div class="communities__list">

    </div>
    <div class="communities-mock">
        <div class="communities-mock__text">Вы ещё не вступили ни в одно сообщество</div>
    </div>
    <div class="communities__overlay communities--hide">

    </div>
</div>