.menu-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.menu__items__container {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.menu__item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  overflow: hidden;
  width: auto;

  padding: 8px 10px;
  border-radius: 10px;
  background-color: var(--color-menu-item-background);
  cursor: pointer !important;
  color: var(--color-menu-item-text);
}

.menu__item__text{
  text-align: left;
  text-decoration: none;
  font-size: 20px;
}

.menu__item__icon{
  object-fit: contain;
  height: 20px;
  width: 25px;
}

.menu__item:hover {
  background-color: var(--color-menu-item-background-hover);
}

.menu__item--active {
  color: var(--color-menu-item-text-active);
}

.menu__logout__link {
  color: var(--color-menu-item-logout-text);
}


@media screen and (max-width: 700px) {
  .menu__item__text {
    display: none;
  }
}
