.menu-left {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;

    @media screen and (max-device-width: 700px) {
        margin: 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: max-content;
        gap: 5px;
        z-index: 100;

        @media screen and (max-device-width: 700px),
        screen and (max-width: 700px) {
            position: fixed;
            flex-direction: row;
            width: 100vw;
            background: var(--color-feed-card-background);
            justify-content: space-between;
            height: var(--phone-menu-height);
            border-top: 1px solid var(--color-menu-border);

            bottom: 0;
            left: 0;
        }

        // @media screen and (max-width: 700px) {
        //     flex-direction: row;
        //     position: fixed;
        //     bottom: 0;
        //     background: var(--color-feed-card-background);
        //     width: 100vw;
        //     justify-content: space-between;
        //     height: var(--tablet-menu-height);
        //     border-top: 2px solid var(--color-menu-border);
        // }
    }
}

.menu-left-item {
    display: flex;
    gap: var(--gap-beetween-blocks);
    align-items: center;
    overflow: hidden;
    width: auto;

    padding: 8px 10px;
    border-radius: 10px;
    background-color: var(--color-menu-item-background);
    cursor: pointer !important;
    color: var(--color-menu-item-text);

    @media screen and (max-width: 700px) {
        &__text {
            display: none;
        }
    }

    &__icon {
        object-fit: contain;
        height: 20px;
        width: 25px;
        filter: contrast(var(--contrast-left-menu__icon));
    }

    &__text {
        text-align: left;
        text-decoration: none;
        font-size: 20px;
    }

    &:hover {
        background-color: var(--color-menu-item-background-hover);
    }

    @media screen and (max-device-width: 700px),
    screen and (max-width: 700px) {
        &:hover {
            background-color: none;
        }

        &:focus {
            background-color: var(--color-menu-item-background-hover);
        }
    }

    &--active {
        color: var(--color-menu-item-text-active);
    }

    &__link {
        color: var(--color-menu-item-logout-text);
    }
}