<div class="message">
    <div class="message__author">
        <img src="../src/img/test_avatar.jpg" class="message__autor__avatar" alt="">
    </div>
    <div class="message__container">
        <div class="message__container__date">
            23.11.2001
        </div>
        <div class="message__container__text">
            dajw ndwjka ndjkadn jkwand jknawdjk akdwal;d kawdm jkwandj kawnd jkawd nawjdk wa
        </div>
        <div class="message__container__attachments">

        </div>
    </div>
</div>