.message {
    display: flex;
    gap: 8px;
    width: 100%;

    &__wrapper {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        padding: 2px 0;
    }

    &__date {
        color: gray;
        font-size: 13px;
    }

    &__text {
        color: var(--coloor-chat-message-text);
        font-size: 14px;
        line-break: anywhere;
        white-space: pre-line;
    }

    &__attachments {
        &__img {
            width: 50%;

            @media screen and (max-device-width: 800px),
            screen and (max-width: 800px) {
                width: 100%;
            }
        }
    }
}

.author-message {
    display: flex;
    gap: 5px;
    width: fit-content;

    &__name {
        font-size: 13px;
        color: var(--color-chat-author-message-name);
        cursor: pointer;
    }

    &__avatar {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        height: 30px;
        width: 30px;
        object-fit: cover;
        background-color: var(--color-profile-img-background);
        border: 1px solid darken($color: gray, $amount: 10);
        outline-offset: -1px;
        cursor: pointer;
    }
}