<div class="message">
    <div class="author-message">
        <img src="../src/img/test_avatar.jpg" class="author-message__avatar" alt="">
    </div>
    <div class="message__content">
        <div class="message__date">
            23.11.2001
        </div>
        <div class="message__text">
            dajw ndwjka ndjkadn jkwand jknawdjk akdwal;d kawdm jkwandj kawnd jkawd nawjdk wa
        </div>
        <div class="message__attachments">

        </div>
    </div>
</div>