<div class="community">
    <div class="community__container">
        <div class="community__data">
        </div>
        <div class="community__nav">
        </div>
    </div>
    <div class="community__overlay community--hidden">

    </div>
</div>