.community {
    width: 100%;
  
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    
    &__container {
      width: auto;
  
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background-color: var(--color-profile-background);
      border-radius: 10px;
    }

    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 25px;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        overflow-y: scroll;

        z-index: 1001;

        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
    }
  
    &--hidden {
        display: none;
    }
    
    &__data {
      width: auto;
      
      display: flex;
      align-items: center;
      gap: 8px;
    }
  
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    &__button {
      cursor: pointer;
  
      padding: 10px 20px;
  
      border: none;
      outline: none;
      border-radius: 8px;
  
      background-color: var(--color-button-background);
  
      color: var(--color-button-value);
      font-weight: bolder;
      font-size: 14px;
    }
  }
  