.header-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 8px;


  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--color-logo);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    background-color: var(--color-logo-background);

    padding: 8px;

    cursor: pointer;
  }

  &__logo:hover {
    transform: scale(1.05);
  }

  &__item {
    display: flex;
    // align-items: center;
    // justify-content: center;
    // margin: 0px 10% 0 15px;
    gap: var(--gap-beetween-blocks);
  }
}