<div class="header-container">
    <div class="header-container__logo" href='/feed'>
        WS
    </div>
    <div id="header__item" class="header-container__item">
        {{item}}
    </div>
</div>