<div class="feed">
    <div class="feed__navbar"></div>
    <div class="feed-mock">
        <img class="feed-mock__icon" src="../src/img/paper_icon.svg">
        <div class="feed-mock__text">Здесь пока нет записей</div>
    </div>
    <div class="feed__cards"></div>
    <div class="feed__overlay"></div>
</div>