.smiles {
    // opacity: 0;

    display: none;
    position: absolute;

    width: 200px;
    height: 200px;

    border: 1px solid gray;
    border-radius: 5px;

    padding: 10px;

    overflow-y: scroll;

    background-color: var(--color-feed-card-background);
    color: var(--color-feed-card-text);
}

.smiles-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 20px;

    &__smile {
        padding: 6px;
    }

    &__smile:hover {
        background-color: gray;
        border-radius: 5px;
        cursor: pointer;
    }
}