<div class="smiles">
    <div class="block-name">Эмоции</div>
    <div class="smiles-block">
        <div class="smiles-block__smile">😀</div>
        <div class="smiles-block__smile">😃</div>
        <div class="smiles-block__smile">😄</div>
        <div class="smiles-block__smile">😁</div>
        <div class="smiles-block__smile">😅</div>
        <div class="smiles-block__smile">😆</div>
        <div class="smiles-block__smile">😂</div>
        <div class="smiles-block__smile">🤣</div>
        <div class="smiles-block__smile">😉</div>
        <div class="smiles-block__smile">😊</div>
        <div class="smiles-block__smile">🙂</div>
        <div class="smiles-block__smile">🙃</div>
        <div class="smiles-block__smile">😇</div>
        <div class="smiles-block__smile">😗</div>
        <div class="smiles-block__smile">😙</div>
        <div class="smiles-block__smile">😚</div>
        <div class="smiles-block__smile">😘</div>
        <div class="smiles-block__smile">😍</div>
        <div class="smiles-block__smile">🥰</div>
        <div class="smiles-block__smile">🤩</div>
        <div class="smiles-block__smile">🤗</div>
        <div class="smiles-block__smile">😋</div>
        <div class="smiles-block__smile">😜</div>
        <div class="smiles-block__smile">🤪</div>
        <div class="smiles-block__smile">😛</div>
        <div class="smiles-block__smile">😝</div>
        <div class="smiles-block__smile">🤑</div>
        <div class="smiles-block__smile">🤭</div>
        <div class="smiles-block__smile">🤐</div>
        <div class="smiles-block__smile">🤫</div>
        <div class="smiles-block__smile">😶</div>
        <div class="smiles-block__smile">🤔</div>
        <div class="smiles-block__smile">🤨</div>
        <div class="smiles-block__smile">🧐</div>
        <div class="smiles-block__smile">😐</div>
        <div class="smiles-block__smile">😑</div>
        <div class="smiles-block__smile">🙄</div>
        <div class="smiles-block__smile">😬</div>
        <div class="smiles-block__smile">🤥</div>
        <div class="smiles-block__smile">😏</div>
        <div class="smiles-block__smile">😌</div>
        <div class="smiles-block__smile">🤤</div>
        <div class="smiles-block__smile">😴</div>
        <div class="smiles-block__smile">🤓</div>
        <div class="smiles-block__smile">😎</div>
        <div class="smiles-block__smile">🥳</div>
        <div class="smiles-block__smile">🤠</div>
        <div class="smiles-block__smile">😒</div>
        <div class="smiles-block__smile">😔</div>
        <div class="smiles-block__smile">😪</div>
        <div class="smiles-block__smile">😕</div>
        <div class="smiles-block__smile">😟</div>
        <div class="smiles-block__smile">🙁</div>
        <div class="smiles-block__smile">😮</div>
        <div class="smiles-block__smile">😯</div>
        <div class="smiles-block__smile">😲</div>
        <div class="smiles-block__smile">😳</div>
        <div class="smiles-block__smile">🥺</div>
        <div class="smiles-block__smile">😦</div>
        <div class="smiles-block__smile">😧</div>
        <div class="smiles-block__smile">😨</div>
        <div class="smiles-block__smile">😰</div>
        <div class="smiles-block__smile">😥</div>
        <div class="smiles-block__smile">😢</div>
        <div class="smiles-block__smile">😭</div>
        <div class="smiles-block__smile">😱</div>
        <div class="smiles-block__smile">😖</div>
        <div class="smiles-block__smile">😣</div>
        <div class="smiles-block__smile">😞</div>
        <div class="smiles-block__smile">😓</div>
        <div class="smiles-block__smile">😩</div>
        <div class="smiles-block__smile">😫</div>
        <div class="smiles-block__smile">😷</div>
        <div class="smiles-block__smile">🤒</div>
        <div class="smiles-block__smile">🤕</div>
        <div class="smiles-block__smile">🤢</div>
        <div class="smiles-block__smile">🤮</div>
        <div class="smiles-block__smile">🤧</div>
        <div class="smiles-block__smile">🥶</div>
        <div class="smiles-block__smile">🥵</div>
        <div class="smiles-block__smile">🥴</div>
        <div class="smiles-block__smile">😵</div>
        <div class="smiles-block__smile">🤯</div>
        <div class="smiles-block__smile">😤</div>
        <div class="smiles-block__smile">😠</div>
        <div class="smiles-block__smile">😡</div>
        <div class="smiles-block__smile">🤬</div>
        <div class="smiles-block__smile">😈</div>
        <div class="smiles-block__smile">👿</div>
        <div class="smiles-block__smile">💀</div>
        <div class="smiles-block__smile">☠</div>
        <div class="smiles-block__smile">💩</div>
        <div class="smiles-block__smile">🤡</div>
        <div class="smiles-block__smile">👹</div>
        <div class="smiles-block__smile">👺</div>
        <div class="smiles-block__smile">👻</div>
        <div class="smiles-block__smile">👽</div>
        <div class="smiles-block__smile">👾</div>
        <div class="smiles-block__smile">🤖</div>
        <div class="smiles-block__smile">😺</div>
        <div class="smiles-block__smile">😸</div>
        <div class="smiles-block__smile">😹</div>
        <div class="smiles-block__smile">😻</div>
        <div class="smiles-block__smile">😼</div>
        <div class="smiles-block__smile">😽</div>
        <div class="smiles-block__smile">🙀</div>
        <div class="smiles-block__smile">😿</div>
        <div class="smiles-block__smile">😾</div>
        <div class="smiles-block__smile">🙈</div>
        <div class="smiles-block__smile">🙉</div>
        <div class="smiles-block__smile">🙊</div>
        <div class="smiles-block__smile">🦠</div>
    </div>
</div>