<div class="smiles">
    <div class="block-name">Эмоции</div>
    <div class="smiles-block">
        <div class="smiles-block__smile" data-action="smile">😀</div>
        <div class="smiles-block__smile" data-action="smile">😃</div>
        <div class="smiles-block__smile" data-action="smile">😄</div>
        <div class="smiles-block__smile" data-action="smile">😁</div>
        <div class="smiles-block__smile" data-action="smile">😅</div>
        <div class="smiles-block__smile" data-action="smile">😆</div>
        <div class="smiles-block__smile" data-action="smile">😂</div>
        <div class="smiles-block__smile" data-action="smile">🤣</div>
        <div class="smiles-block__smile" data-action="smile">😉</div>
        <div class="smiles-block__smile" data-action="smile">😊</div>
        <div class="smiles-block__smile" data-action="smile">🙂</div>
        <div class="smiles-block__smile" data-action="smile">🙃</div>
        <div class="smiles-block__smile" data-action="smile">😇</div>
        <div class="smiles-block__smile" data-action="smile">😗</div>
        <div class="smiles-block__smile" data-action="smile">😙</div>
        <div class="smiles-block__smile" data-action="smile">😚</div>
        <div class="smiles-block__smile" data-action="smile">😘</div>
        <div class="smiles-block__smile" data-action="smile">😍</div>
        <div class="smiles-block__smile" data-action="smile">🥰</div>
        <div class="smiles-block__smile" data-action="smile">🤩</div>
        <div class="smiles-block__smile" data-action="smile">🤗</div>
        <div class="smiles-block__smile" data-action="smile">😋</div>
        <div class="smiles-block__smile" data-action="smile">😜</div>
        <div class="smiles-block__smile" data-action="smile">🤪</div>
        <div class="smiles-block__smile" data-action="smile">😛</div>
        <div class="smiles-block__smile" data-action="smile">😝</div>
        <div class="smiles-block__smile" data-action="smile">🤑</div>
        <div class="smiles-block__smile" data-action="smile">🤭</div>
        <div class="smiles-block__smile" data-action="smile">🤐</div>
        <div class="smiles-block__smile" data-action="smile">🤫</div>
        <div class="smiles-block__smile" data-action="smile">😶</div>
        <div class="smiles-block__smile" data-action="smile">🤔</div>
        <div class="smiles-block__smile" data-action="smile">🤨</div>
        <div class="smiles-block__smile" data-action="smile">🧐</div>
        <div class="smiles-block__smile" data-action="smile">😐</div>
        <div class="smiles-block__smile" data-action="smile">😑</div>
        <div class="smiles-block__smile" data-action="smile">🙄</div>
        <div class="smiles-block__smile" data-action="smile">😬</div>
        <div class="smiles-block__smile" data-action="smile">🤥</div>
        <div class="smiles-block__smile" data-action="smile">😏</div>
        <div class="smiles-block__smile" data-action="smile">😌</div>
        <div class="smiles-block__smile" data-action="smile">🤤</div>
        <div class="smiles-block__smile" data-action="smile">😴</div>
        <div class="smiles-block__smile" data-action="smile">🤓</div>
        <div class="smiles-block__smile" data-action="smile">😎</div>
        <div class="smiles-block__smile" data-action="smile">🥳</div>
        <div class="smiles-block__smile" data-action="smile">🤠</div>
        <div class="smiles-block__smile" data-action="smile">😒</div>
        <div class="smiles-block__smile" data-action="smile">😔</div>
        <div class="smiles-block__smile" data-action="smile">😪</div>
        <div class="smiles-block__smile" data-action="smile">😕</div>
        <div class="smiles-block__smile" data-action="smile">😟</div>
        <div class="smiles-block__smile" data-action="smile">🙁</div>
        <div class="smiles-block__smile" data-action="smile">😮</div>
        <div class="smiles-block__smile" data-action="smile">😯</div>
        <div class="smiles-block__smile" data-action="smile">😲</div>
        <div class="smiles-block__smile" data-action="smile">😳</div>
        <div class="smiles-block__smile" data-action="smile">🥺</div>
        <div class="smiles-block__smile" data-action="smile">😦</div>
        <div class="smiles-block__smile" data-action="smile">😧</div>
        <div class="smiles-block__smile" data-action="smile">😨</div>
        <div class="smiles-block__smile" data-action="smile">😰</div>
        <div class="smiles-block__smile" data-action="smile">😥</div>
        <div class="smiles-block__smile" data-action="smile">😢</div>
        <div class="smiles-block__smile" data-action="smile">😭</div>
        <div class="smiles-block__smile" data-action="smile">😱</div>
        <div class="smiles-block__smile" data-action="smile">😖</div>
        <div class="smiles-block__smile" data-action="smile">😣</div>
        <div class="smiles-block__smile" data-action="smile">😞</div>
        <div class="smiles-block__smile" data-action="smile">😓</div>
        <div class="smiles-block__smile" data-action="smile">😩</div>
        <div class="smiles-block__smile" data-action="smile">😫</div>
        <div class="smiles-block__smile" data-action="smile">😷</div>
        <div class="smiles-block__smile" data-action="smile">🤒</div>
        <div class="smiles-block__smile" data-action="smile">🤕</div>
        <div class="smiles-block__smile" data-action="smile">🤢</div>
        <div class="smiles-block__smile" data-action="smile">🤮</div>
        <div class="smiles-block__smile" data-action="smile">🤧</div>
        <div class="smiles-block__smile" data-action="smile">🥶</div>
        <div class="smiles-block__smile" data-action="smile">🥵</div>
        <div class="smiles-block__smile" data-action="smile">🥴</div>
        <div class="smiles-block__smile" data-action="smile">😵</div>
        <div class="smiles-block__smile" data-action="smile">🤯</div>
        <div class="smiles-block__smile" data-action="smile">😤</div>
        <div class="smiles-block__smile" data-action="smile">😠</div>
        <div class="smiles-block__smile" data-action="smile">😡</div>
        <div class="smiles-block__smile" data-action="smile">🤬</div>
        <div class="smiles-block__smile" data-action="smile">😈</div>
        <div class="smiles-block__smile" data-action="smile">👿</div>
        <div class="smiles-block__smile" data-action="smile">💀</div>
        <div class="smiles-block__smile" data-action="smile">☠</div>
        <div class="smiles-block__smile" data-action="smile">💩</div>
        <div class="smiles-block__smile" data-action="smile">🤡</div>
        <div class="smiles-block__smile" data-action="smile">👹</div>
        <div class="smiles-block__smile" data-action="smile">👺</div>
        <div class="smiles-block__smile" data-action="smile">👻</div>
        <div class="smiles-block__smile" data-action="smile">👽</div>
        <div class="smiles-block__smile" data-action="smile">👾</div>
        <div class="smiles-block__smile" data-action="smile">🤖</div>
        <div class="smiles-block__smile" data-action="smile">😺</div>
        <div class="smiles-block__smile" data-action="smile">😸</div>
        <div class="smiles-block__smile" data-action="smile">😹</div>
        <div class="smiles-block__smile" data-action="smile">😻</div>
        <div class="smiles-block__smile" data-action="smile">😼</div>
        <div class="smiles-block__smile" data-action="smile">😽</div>
        <div class="smiles-block__smile" data-action="smile">🙀</div>
        <div class="smiles-block__smile" data-action="smile">😿</div>
        <div class="smiles-block__smile" data-action="smile">😾</div>
        <div class="smiles-block__smile" data-action="smile">🙈</div>
        <div class="smiles-block__smile" data-action="smile">🙉</div>
        <div class="smiles-block__smile" data-action="smile">🙊</div>
        <div class="smiles-block__smile" data-action="smile">🦠</div>
    </div>
</div>