<div class="root" id="root">
    <div class="root__wrapper">
        <div class="root__header" id="header"></div>
        <div class="root-content">
            <div class="root-content__menu root-content__menu--left" id="left-menu"></div>
            <div class="root-content__main" id="main"></div>
            <div class="root-content__menu root-content__menu--right" id="right-menu"></div>
        </div>
    </div>
    <div class="root__footer" id="footer"></div>
</div>