<div class="friends-navbar">
    <div class="friends-navbar-search">
        <input type="text" class="friends-navbar-search__input" placeholder="Поиск пользователей...">
        <img src="../src/img/search_icon.svg" class="friends-navbar-search__icon" data-action="submit_search">
    </div>
</div>