/* @import url('./components/Header/Header.css'); */
/* @import url('./components/Menu/Menu.css'); */
@import url('./components/FooterView/FooterView.css');
@import url('./components/SigninFormView/SigninFormView.css');
@import url('./components/SignupFormView/SignupFormView.css');

:root {
/* New palette */
--color-root-background: #F0F2F5;

--color-footer-background: #EAECF0;
--color-footer-text: #B5B5B5;

--color-form-title: #6F6F6F;
--color-form-background: #FFFFFF;
--color-form-border: #EBEBEB;

--color-input-title: #6F6F6F;
--color-input-placeholder: #D8D8D8;
--color-input-border: #D8D8D8;
--color-input-border-focus:#6F6F6F;
--color-input-value: #767676;
--color-input-value-error: #f66363;
--color-input-border-error: #f66363;
--color-input-border-focus-error: #b04c4c;

--color-button-background: #21CF7A;
--color-button-value: #FFFFFF;
--color-button-background-pressed:#24B66F;
--color-button-border-focus: #24B66F;

--color-link-value: #B5B5B5;
--color-link-underline-hover: #B5B5B5;
--color-link-value-pressed: #D8D8D8;
--color-limk-underline-pressed: #D8D8D8;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-root-background);

    min-height: 100vh;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}



/* #root {
    /* display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: 20px 1fr 100px;
    grid-template-columns: 1fr;

}

.content {
    display: grid;
    grid-template-areas:
        "menu main";
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;
    margin-top: 10px;
}

aside {
    grid-area: menu;
    font-size: 30px;
    padding-left: 20px;
}

.active {
    font-weight: bold;
}

main {
    grid-area: main;
    padding: 0 40px 40px;
    /* height: 300px; */
    /* overflow-y: scroll; 
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 64px;
    color: #8e5dff;
    transition: color 600ms;
}

a {
    color: #333333;
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
}

input {
    display: block;
    height: 60px;
    font-size: 40px;
    margin-bottom: 15px;
} */