@import url('./components/Header/Header.css');
@import url('./components/Menu/Menu.css');
@import url('./components/FooterView/FooterView.css');
@import url('./components/SigninFormView/SigninFormView.css');
@import url('./components/SignupFormView/SignupFormView.css');
@import url('./components/Feed/Feed.css');

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

:root {
    --color-root-background: #F0F2F5;

    --color-footer-background: #EAECF0;
    --color-footer-text: #B5B5B5;

    --color-form-title: #6F6F6F;
    --color-form-background: #FFFFFF;
    --color-form-border: #EBEBEB;

    --color-input-title: #6F6F6F;
    --color-input-placeholder: #D8D8D8;
    --color-input-border: #D8D8D8;
    --color-input-border-focus: #6F6F6F;
    --color-input-value: #767676;
    --color-input-value-error: #f66363;
    --color-input-border-error: #f66363;
    --color-input-border-focus-error: #b04c4c;

    --color-button-background: #21CF7A;
    --color-button-value: #FFFFFF;
    --color-button-background-pressed: #24B66F;
    --color-button-border-focus: #24B66F;

    --color-link-value: #B5B5B5;
    --color-link-underline-hover: #B5B5B5;
    --color-link-value-pressed: #D8D8D8;
    --color-limk-underline-pressed: #D8D8D8;
}

#root {
    /* display: block; */

    background: var(--background-color);

}

.content {
    display: grid;
    grid-template-areas:
        "menu main";
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;
    margin-top: 10px;

}

aside {
    grid-area: menu;
    font-size: 30px;
    padding-left: 20px;
}

main {
    grid-area: main;
    padding: 0 40px 40px;
    height: 600px;
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}