<div class="profile">
    <div class="profile__container">
        <div class="profile__user">
        </div>
        <div class="profile__nav">
            {{#each buttons as |button|}}
            <button href="{{button.href}}" class="profile__button" id="{{button.id}}">{{button.text}}</button>
            {{/each}}
        </div>
    </div>
</div>