/* :root,
:root[theme='dark'] { */
.dark-mode {
    --current-theme-invert-value: invert(1);

    --color-root-background: #111111;

    --color-footer-background: #eaecf0;
    --color-footer-text: #b5b5b5;

    --color-form-title: #6f6f6f;
    --color-form-background: #333333;
    --color-form-border: #ebebeb;
    --color-form-text: #ffffff;

    --color-input-title: #6f6f6f;
    --color-input-placeholder: #d8d8d8;
    --color-input-border: #d8d8d8;
    --color-input-border-focus: #6f6f6f;
    --color-input-value: #ffffff;
    --color-input-value-error: #f66363;
    --color-input-border-error: #f66363;
    --color-input-border-focus-error: #b04c4c;

    --color-button-background: #21cf7a;
    --color-button-value: #ffffff;
    --color-button-background-pressed: #24b66f;
    --color-button-border-focus: #24b66f;

    --color-link-value: #b5b5b5;
    --color-link-underline-hover: #b5b5b5;
    --color-link-value-pressed: #d8d8d8;
    --color-limk-underline-pressed: #d8d8d8;

    --color-header-background: #222222;

    --color-logo: #ffffff;
    --color-logo-background: #21cf7a;
    --color-logo-border: #21cf7a;

    --color-menu-item-background: none;
    --color-menu-item-background-hover: rgba(0, 255, 132, 0.106);
    --color-menu-item-text: #cacaca;
    --color-menu-item-text-active: #ffffff;
    --color-menu-item-logout-text: #f66363;

    --header-height: 50px;

    --color-feed-card-border: #d8d8d8;
    --color-feed-card-background: #333333;
    --color-feed-card-author-name: #ffffff;
    --color-feed-card-img-background: #ebebeb;
    --color-feed-card-img-border: #d8d8d8;
    --color-feed-card-date: #818c99;
    --color-feed-card-text: #ffffff;
    --color-feed-card-likes: #818c99;

    --color-feed-navbar-backgroung: #333333;
    --color-feed-navbar-text: #ffffff;

    --color-profile-background: #333333;
    --color-button-background: #21cf7a;
    --color-button-value: #ffffff;
    --color-profile-name: #ffffff;
    --color-profile-img-border: #d8d8d8;
    --color-profile-img-background: #ebebeb;

    --color-messenger-background: #333333;

    --color-dialog-name-text: #ffffff;

    --color-friend-block-background: #333333;

    --color-chat-background: #333333;
    --color-chat-author-message-name: #ffffff;
    --color-chat-navbar-name: #ffffff;
    --coloor-chat-message-text: #ffffff;
    --color-chat-message-create-background: #333333;
    --color-chat-message-create-text: #ffffff;

    --color-menu-border: #d8d8d8;

    --color-feed-card-create-text-background: #333333;
    --color-feed-card-create-text: #ffffff;

    --contrast-left-menu__icon: 1.5;

}