$scrollbar-padding: 10px;
$scrollbar-width: 8px;

.messenger {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;

    position: relative;

    margin-bottom: 15px;

    border-radius: 10px;

    grid-template-rows: min-content auto;

    gap: 10px;


    &__navbar {
        display: flex;
        gap: 10px;
        width: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        overflow-x: hidden;
        overflow-y: overlay;
        padding: 15px;
        background-color: var(--color-messenger-background);
        border-radius: 10px;

        @media screen and (max-device-width:799px) {
            padding: 15px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &::-webkit-scrollbar {
            width: calc(2 * $scrollbar-padding + $scrollbar-width);
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
            border: $scrollbar-padding solid white;
            border-radius: 9999px;
            background-color: lightgray;
            min-height: 30px;
        }
    }


    &__footer {
        display: none;
    }

    &--hide {
        display: none !important;
    }
}

.messenger-mock {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    height: 100%;

    position: absolute;
    width: 100%;

    &__text {
        font-size: 18px;
        color: #b4b4b4;
        font-weight: bolder;
    }
}