<div class="messenger">
    <div class="messenger__navbar"></div>
    <div class="messenger-mock">
        <div class="messenger-mock__text">У вас ещё нет диалогов. Напишите первым!</div>
    </div>
    <div class="messenger__content"></div>
    <div class="messenger__footer"></div>
</div>