<div class="community-list-navbar">
    <div class="community-list-navbar-search">
        <input type="text" class="community-list-navbar-search__input" placeholder="Поиск по сообществам...">
        <img src="../src/img/search_icon.svg" class="community-list-navbar-search__icon" data-action="submit_search">
    </div>
    <button class="community-list-navbar-button" data-action="create_community">
        <img class="community-list-navbar-button__icon" src="../src/img/plus_icon.svg" alt="">
        <div class="community-list-navbar-button__text">
            Создать
        </div>
    </button>
</div>