.friends{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.friends__navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
}

.friends__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
}