.friends {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: min-content auto;
    gap: 10px;

    overflow: hidden;

    padding-bottom: 10px;

    &__navbar {
        display: flex;
        gap: 10px;
        width: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        height: 100%;

        overflow-x: hidden;
        overflow-y: overlay;
    }

    &__content::-webkit-scrollbar {
        width: 15px;
    }

    &__content::-webkit-scrollbar-track {
        background-color: inherit;
    }

    &__content::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border: 5px solid var(--color-feed-card-background);
        border-radius: 9999px;
    }

    &--hide {
        display: none !important;
    }
}

.friend-mock {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    height: min-content;

    padding: 20px 25px;


    &__text {
        font-size: 18px;
        color: #b4b4b4;
        font-weight: bolder;
    }
}