<div class="friends">
    <div class="friends__navbar"></div>
    <div class="friend-mock">
        <img class="friend-mock__icon" src="../src/img/sad_icon.svg">
        <div class="friend-mock__text">У вас пока нет друзей</div>
    </div>
    <div class="friends__content"></div>
</div>