<div class="friends">
    <div class="friends__navbar"></div>
    <div class="friend-mock">
        <div class="friend-mock__text">Пользователи не найдены</div>
    </div>
    <div class="friends__content"></div>
</div>