.header-item-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 2px solid var(--color-button-background);
  outline-offset: -2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 3px 10px;
  text-decoration: none;
  cursor: pointer;

  &__avatar {
    object-fit: cover;
    height: 30px;
    width: 30px;

    border: 2px solid inherit;
    border-radius: 50%;
    background-color: var(--color-profile-img-background);
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-input-value);
  }


}

.header-item-settings {
  display: flex;
  align-items: center;

  border: 2px solid var(--color-button-background);
  outline-offset: -2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;

  padding: 5px;

  cursor: pointer;

  &__icon {
    max-width: 100%;
    max-height: 30px;
    object-fit: cover;
  }
}