.header__item__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid var(--color-button-background);
  outline-offset: -2px;
  border-radius: 8px;
  padding: 3px 10px;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
}

.header__item__profile__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid inherit;
  border-radius: 50%;
  max-width: 100%;
  max-height: 30px;
  object-fit: cover;
}

.header__item__profile__name {
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  color: var(--color-input-value);
}

.header__item__settings {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid var(--color-button-background);
  outline-offset: -2px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.header__item__settings__icon {
  max-width: 100%;
  max-height: 30px;
  object-fit: cover;
}
