.feed-card-create {
    display: flex;
    max-width: 90%;
    max-height: 90%;
    gap: 10px;
    padding: 20px 25px;

    background: var(--color-feed-card-background);
    border: 2px solid var(--color-feed-card-border);
    border-radius: 10px;

    @media screen and (max-device-width: 700px) {
        gap: 5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        width: 100%;
    }

    &__text {
        min-width: 50vw;
        min-height: 20vh;

        font-size: 14px;
        padding: 5px 8px;

        border-radius: 10px;
        border: 2px solid var(--color-feed-card-border);
        background-color: var(--color-feed-card-create-text-background);
        color: var(--color-feed-card-create-text);
    }

    &__text:focus {
        border: 2px solid var(--color-feed-card-border);
    }

    &__attachments {
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: auto;
    }

    &__tools {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &--row {
            flex-direction: row;
        }
    }

    &--err{
        border: 2px solid red;
    }
}

.feed-card-create-button {
    display: flex;
    align-items: center;
    gap: 5px;
    width: min-content;

    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 8px;

    &--big {
        background-color: var(--color-button-background);
        padding: 4px 8px;


        &:hover {
            background-color: #24dc83;
        }

        &:active {
            background-color: #24B66F;
        }

        @media screen and (max-device-width:799px) {
            width: 10%;
            min-width: min-content;
            max-width: 150px;
            padding: 12px;
        }
    }

    &--small {
        background-color: inherit;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__icon {
        object-fit: contain;
        width: 20px;
    }

    &__text {
        color: var(--color-button-value);
        text-overflow: ellipsis;
        font-weight: bolder;
        font-size: 14px;

        @media screen and (max-device-width:799px) {
            display: none;
        }
    }


    &--red {
        background-color: #F44848;
    }

    &--red:hover {
        background-color: #f64f4f;
    }


}

.feed-card-create-author {
    display: flex;
    gap: 8px;

    &__avatar {
        object-fit: cover;
        height: 42px;
        width: 42px;

        @media screen and (max-device-width: 700px) {
            height: 25px;
            width: 25px;
        }

        background-color: var(--color-profile-img-background);
        border: 1px solid var(--color-profile-img-border);
        border-radius: 50%;
    }
}

// ВНИМАНИЕ: Данная комбинация используется со стилями из смайлов
.feed-card-create-button__smiles:hover {
    & .smiles {
        display: block;
    }
}

// ВНИМАНИЕ: Данная комбинация используется со стилями из смайлов
.feed-card-create-button__smiles {
    & .smiles {
        bottom: 20px;

        @media screen and (max-device-width: 1150px),
        screen and (max-width: 1150px) {
            right: -24px;
        }
    }

    & .smiles:hover {
        display: block;
    }
}