<div class="feed-card-create">
    <div class="feed-card-create-author">
        <img src="{{avatar}}" alt="" class="feed-card-create-author__avatar">
    </div>
    <div class="feed-card-create__content">
        <textarea class="feed-card-create__text"></textarea>
        <div class="feed-card-create__attachments"></div>
        <div class="feed-card-create__button feed-card-create__button--submit" data-action="sumbit_new_post">
            Опубликовать
        </div>
    </div>
    <div class="feed-card-create__tools">
        <img src="../src/img/camera_icon.svg" alt="" class="feed-card-create__button feed-card-create__button--tool"
            data-action="add_attachment">
        <img src="../src/img/image_icon.svg" alt="" class="feed-card-create__button feed-card-create__button--tool"
            data-action="">
        <img src="../src/img/smile_icon.svg" alt="" class="feed-card-create__button feed-card-create__button--tool"
            data-action="add_smile">
    </div>
</div>