<div class="message__new">
    <div class="message__new__tools">
        <img src="../src/img/camera_icon.svg" alt="" class="message__new__tools__button" data-action="photo">
        <img src="../src/img/image_icon.svg" alt="" class="message__new__tools__button" data-action="sticker">
        <img src="../src/img/smile_icon.svg" alt="" class="message__new__tools__button" data-action="smile">

    </div>

    <div class="message__new__content">
        <textarea class="message__new__content__textarea"></textarea>
        <div class="message__new__content__attachments"></div>
    </div>

    <div class="message__new__tools">
        <div class="message__new__tools__button--send" data-action="send">Отправить</div>
    </div>
</div>