<div class="message-create">
    <div class="message-create__tools">
        <button class="message-create-button message-create-button--small message-create-button__smiles">
            <img class="message-create-button__icon" src="../src/img/smile_icon.svg" alt="">
            {{{smiles}}}
        </button>

        <button class="message-create-button message-create-button--small message-create-button__smiles">
            <img class="message-create-button__icon" src="../src/img/sticker_icon.svg" alt="">
            {{{stickers}}}
        </button>

        <button class="message-create-button message-create-button--small" data-action="add_attachment">
            <img class="message-create-button__icon" src="../src/img/camera_icon.svg" alt="">
        </button>

    </div>

    <div class="message-create__form">
        <textarea class="message-create__textarea"></textarea>
        <div class="message-create__attachments"></div>
    </div>

    <div class="message-create__tools">
        <button class="message-create-button message-create-button--big" data-action="send">
            <img class="message-create-button__icon" src="../src/img/send_icon.svg" alt="">
            <div class="message-create-button__text">
                Отправить
            </div>
        </button>
    </div>
</div>