<div class="message-create">
    <div class="message-create__tools">
        <img src="../src/img/camera_icon.svg" alt="" class="message-create__button message-create__button--small" data-action="photo">
        <img src="../src/img/image_icon.svg" alt="" class="message-create__button message-create__button--small" data-action="sticker">
        <img src="../src/img/smile_icon.svg" alt="" class="message-create__button message-create__button--small" data-action="smile">

    </div>

    <div class="message-create__form">
        <textarea class="message-create__textarea"></textarea>
        <div class="message-create__attachments"></div>
    </div>

    <div class="message__new__tools">
        <div class="message-create__button message-create__button--big" data-action="send">Отправить</div>
    </div>
</div>