.feed__navbar__search {
  padding: 10px 20px;
  outline: 2px solid var(--color-input-border);
  outline-offset: -2px;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: text;
}

.feed__navbar__search:focus {
  border-style: none;
  outline-color: var(--color-input-border-focus);
}

.feed__navbar__search__input {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
}

.feed__navbar__search__input:focus {
  border: none;
  outline: none;
}

.feed__navbar__search__icon {
  object-fit: cover;
  height: 20px;
  width: auto;
  cursor: pointer;
}

.feed__navbar__new__post {
  margin-left: auto;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: var(--color-button-background);
  color: var(--color-button-value);
  font-weight: bolder;
  font-size: 14px;
}
