<div class="feed__navbar__search">
    <input type="text" class="feed__navbar__search__input" placeholder="Поиск по записям...">
    <img src="../src/img/search_icon.svg" class="feed__navbar__search__icon" data-action="submit_search">
</div>
<div class="feed__navbar__new__post" data-action="create_feed">
    Новая запись
</div>