<div class="feed-navbar">
    <div class="feed-navbar-search">
        <input type="text" class="feed-navbar-search__input" placeholder="Поиск по записям...">
        <img src="../src/img/search_icon.svg" class="feed-navbar-search__icon" data-action="submit_search">
    </div>
    <div class="feed-navbar__button" data-action="create_feed">
        Новая запись
    </div>
</div>