.friend {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
}

.friend__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.friend__tools {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.friend__avatar {
    background-color: var(--color-profile-img-background);
    outline: 1px solid var(--color-profile-img-border);
    border-radius: 50%;
    height: 80px;
    object-fit: cover;
}

.friend__name {
    font-size: 16px;
    color: var(--color-profile-name);
}

.friend__tools__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: min-content;
    gap: 5px;

    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: var(--color-button-background);
    font-size: 13px;
}

.friend__tools__button__icon {
    height: 20px;
    width: auto;
    object-fit: cover;
}

.friend__tools__button__text {
    color: var(--color-button-value);
    font-weight: bolder;
}