<div class="friend">
    <img src="{{avatar}}" class="friend__avatar">
    <div class="friend__wrapper">
        <div class="friend__name">{{first_name}} {{last_name}}</div>
        <div class="friend__tools">
            <div class="friend-button friend-button--green" data-action="message">
                <img src="../src/img/message_icon.svg" alt="" class="friend-button__icon">
                <div class="friend-button__text">Сообщение</div>
            </div>
            {{#if isFriend}}
            <div class="friend-button friend-button--red" data-action="remove">
                <img src="../src/img/cancel_icon.svg" alt="" class="friend-button__icon">
                <div class="friend__tools__button__text">Убрать из друзей</div>
            </div>
            {{else}}
            <div class="friend-button friend-button--green" data-action="add">
                <img src="../src/img/add_icon.svg" alt="" class="friend-button__icon">
                <div class="friend-button__text">Добавить в друзья</div>
            </div>
            {{/if}}
        </div>
    </div>
</div>