.friend {
    display: flex;
    gap: var(--big-gap-beetween-blocks);
    width: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--color-friend-block-background);

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--big-gap-beetween-blocks);
    }

    &__info {
        font-size: 14px;
        font-weight: bolder;
        color: #d8d8d8;
    }

    &__tools {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap-beetween-blocks);
    }

    &__avatar {
        background-color: var(--color-profile-img-background);
        border: 1px solid var(--color-profile-img-border);
        border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
        height: 80px;
        width: 80px;
    }

    &__name {
        font-size: 16px;
        cursor: pointer;
        color: var(--color-profile-name);
    }
}

.friend-button {
    display: flex;
    align-items: center;
    gap: 5px;

    width: min-content;

    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 8px;
    padding: 6px 10px;


    &__icon {
        object-fit: contain;
        width: 20px;
    }

    &__text {
        color: var(--color-button-value);
        text-overflow: ellipsis;
        font-weight: bolder;
        font-size: 14px;
    }

    &--green {
        background-color: var(--color-button-background);
    }

    &--green:hover {
        background-color: #24dc83;
    }

    &--green:active {
        background-color: #24B66F;
    }

    &--red {
        background-color: #F44848;
    }

    &--red:hover {
        background-color: #f64f4f;
    }

    &--red:active {
        background-color: #e03f3f;
    }
}