@import url("../src/App/components/SigninView/SigninView.css");
@import url("../src/App/components/FooterView/FooterView.css");
@import url("../src/App/components/SignupView/SignupView.css");

:root {
  --color-white: white;
  --color-light-gray: #f0f2f5;
  --color-lighter-gray: #e5e7eb;
  --color-gray: #b5b5b5;
  --color-darker-gray: #6f6f6f;
  --color-green: #21cf7a;
  --color-light-green: #48f4a0;
}

body {
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-light-gray);
  color: var(--color-darker-gray);
}
