<div class="profile-user" data-user_id="{{id}}">
    <img src="{{avatar}}" alt="" class="profile-user__avatar">
    <div class="profile-user__name">
        {{first_name}} {{last_name}}
    </div>
</div>
