.dialog {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.dialog-user {
    &__avatar {
        object-fit: cover;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    &__name {
        color: var(--color-dialog-name-text);
        font-size: 16px;
        font-weight: bolder;
    }
}