<div class="navbar-chat">
    <div class="navbar-chat__nav">
        {{!-- <div class="navbar-chat-button">
            <img class="navbar-chat-button__icon" src="../src/img/back_arrow_icon.svg" alt="">
            <div class="navbar-chat-button__text">Назад</div>
        </div> --}}
    </div>
    <div class="navbar-chat__name">
        {{first_name}} {{last_name}}
    </div>
    <img src="{{avatar}}" class="navbar-chat__avatar">
</div>