<div class="about-ws">
    <div class="typewriter-wrapper">
        <div class="typewriter">
            <h1>WRITE & SEND</h1>
        </div>
    </div>
    <div class="description">
        Это онлайн платформа для обмена сообщениями, новостями и картинками между пользователями. Write&Send предлагает
        минималистичный, неперегруженный сервис с самым необходимым! Скорее авторизируйтесь и становитесь частью самого
        классного сообщества в мире!
    </div>
    <div class="info-flex">
        <img src="../src/img/AboutWSLayer.png" alt="devices" class="info-flex__img">
        {{!-- <div class="info-block">
            Обмениваться сообщениями <br>✉️
        </div>
        <div class="info-block">
            Делиться новостями <br>📸
        </div>
        <div class="info-block">
            Объединяться в сообщества <br>👩‍💻👨‍💻
        </div>
        <div class="info-block">
            Искать новых друзей <br>👋
        </div> --}}
    </div>

    <div class="block-links">
        <a id="about-ws-block-link-signin" href="/signin" class="button">Войти</a>
        <a id="about-ws-block-link-signup" href="/signup" class="button">Зарегистрироваться</a>
    </div>
</div>